body{
    background-color: snow;
    font-size:16px;
}

/*form */
.login{
    width:500px;
    margin: 100px auto;

}
.login input{
    margin-bottom: 10px;
}
/*.login .form-control{
    background-color:#EAEAEA;
}*/
/*navbar*/

.dropdown-item {
    background-color:#e9ecef
}
.navbar-brand {
     font-size:1rem;
}


/* start dashbord page*/
.home-stats .stat{
background-color: #EEE;
border-radius: 10px ;
padding: 20px;
font-size: 15px;
}
.home-stats .stat span{
    display: block;
    font-size: 50px;
}
.home-stats .members{
    background-color:#2980b9 ;
}
.home-stats .pending{
    background-color:#8e44ad ;
}
.home-stats .items{
    background-color:#34495e ;
}
.home-stats .comments{
    background-color: #d35400;
}
.home-stats .stat a{
    color: #fff;
    
}
.home-stats .stat a:havor{
    color: #fff;
    text-decoration: none;
    
}
.latest{
    margin-top: 30px;
}
/* start dashbord page*/



/*start member page */

h1 {
	font-size: 55px;
	margin: 40px 0;
	font-weight: bold;
	color:rgb(62, 62, 63);
}
.form-control{
    position: relative;
}
.asterisk{
font-size: 30px;
position: absolute;
right:30px;
color:red;
top:20px;

}
.show-pass{
    position: absolute;
    top:6px;
    right:-30px;


}
/*table */
.main-table{
    -webkit-box-shadow: 0 3px 10px #CCC;
	-moz-box-shadow: 0 3px 10px #CCC;
	 box-shadow: 0 3px 10px #CCC;
}
.activate{
    margin-left: 5px;
}
.main-table tr:first-child td{
background-color: gray;
color: black;
}

.table td{
    vertical-align: middle !important;
    background-color: white;
}
.main-table .btn {
    padding: 3px 10px;
}

/*table */
/*end member page */


